[submodule "elisp/emms"]
	path = elisp/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "elisp/identica-mode"]
	path = elisp/identica-mode
	url = http://git.savannah.gnu.org/cgit/identica-mode.git
[submodule "elisp/jabber"]
	path = elisp/jabber
	url = git://catap.ru/emacs-jabber/emacs-jabber.git
[submodule "elisp/juick-el"]
	path = elisp/juick-el
	url = git://github.com/mad/emacs-juick-el.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "elisp/slackware-el"]
	path = elisp/slackware-el
	url = git://github.com/mad/slackware-el.git
[submodule "elisp/twitter"]
	path = elisp/twitter
	url = http://git.busydoingnothing.co.uk/cgit.cgi/twitter.git
[submodule "elisp/twittering-mode"]
	path = elisp/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "elisp/weather"]
	path = elisp/weather
	url = git://github.com/mad/weather.el
[submodule "elisp/gits.el"]
	path = elisp/gits.el
	url = git://github.com/defunkt/gist.el.git
[submodule "elisp/vkontakte-el"]
	path = elisp/vkontakte-el
	url = git://github.com/mad/vkontakte-el.git
[submodule "elisp/ecb"]
	path = elisp/ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "elisp/apel"]
	path = elisp/apel
	url = http://github.com/emacsmirror/apel.git
[submodule "elisp/auctex"]
	path = elisp/auctex
	url = http://github.com/emacsmirror/auctex.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "elisp/gist.el"]
	path = elisp/gist.el
	url = git://github.com/defunkt/gist.el.git
